#home {
  max-width: 100%;
  display: inline;
  margin: 3em auto;
}

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;
  background-color: black;
}

main {
  margin: auto;
  width: 90%;
}
#home {
  max-width: 100%;
  width: 960px;
  height: auto;
}
.hero {
  max-width: 100%;
  width: 960px;
  height: auto;
  border: 1px solid white;
}

hr {
  margin: 1em;
  width: 80%;
}

/*TEXT*/
h1, h2, h3 {
  color: white;
}

li {
  color: white;
}

p {
  font-size: 1em;
  color: white;
}

address {
  display: inline-block;
}

/*LINKs*/


a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
}
